@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');

* {
    font-family: 'League Spartan';
}

:root {
    --font-title: 40px;
    --font-sub-title: 20px;
    --font-600: 600;
    --font-400: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
p {
    margin: 0px;
}

a {
    text-decoration: none;
    max-width: max-content;
}


.container_form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_form_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.enviar {
    background-color: #003E59;
    color: #FFFFFF;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1000px;
    width: 100%;
}

.area_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area_form label {
    color: #003E59;
    font-size: 30px;
    font-weight: var(--font-600);
    letter-spacing: 1.04px;
}

input {
    border-radius: 5px;
    border: 0.661px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0px 13.21117px 26.42234px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 10px;
    outline: none;
    width: 100%;
    max-width: 380px;
    color: #000000;
    font-size: var(--font-sub-title);
    font-weight: 300;
    letter-spacing: 0.18px;
}


[data-animation] {
    opacity: 0;
    transition: all 200ms ease-in;
}

[data-delay-1] {
    transition-delay: 200ms;
}

[data-delay-2] {
    transition-delay: 300ms;
}

[data-delay-3] {
    transition-delay: 400ms;
}

[data-delay-4] {
    transition-delay: 500ms;
}

[data-animation="down"] {
    transform: translate3d(0, 20px, 0);
}

[data-animation="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(20px, 0, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


header {
    width: 100%;
    position: relative;
    z-index: 2;
}

.menu_open {
    display: none;
}

.close {
    display: none;
}

.menu_mobile {
    display: none;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 0px 0px;
}

nav {
    width: 100%;
    max-width: max-content;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: max-content;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    font-size: var(--font-sub-title);
    font-weight: var(--font-600);
    line-height: normal;
}

.logo_desktop {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.animation {
    animation: pulsar 1.5s infinite;
}

@keyframes pulsar {
    0% {
        transform: scale();
    }

    70% {
        transform: scale();
        box-shadow: 0 0 0 50px rgba(69, 152, 27, 0);
    }

    100% {
        transform: scale();
        box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
    }
}

.area_whatsapp {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.area_whatsapp a {
    height: 68px;
}

.area_whatsapp img {
    width: 100%;
    max-width: 68px;
    height: 68px;
    transition: background, padding 400ms ease-in-out;
    box-shadow: 0 0 0 0 #03BF65;
    border-radius: 200px;
}

.area_whatsapp img:hover {
    animation: pulsar;
}

/*Container home*/
#home {
    background: #007E7D;
    padding: 40px 0px 0px 0px;
    margin-top: -60px;
}

.container_home {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.container_home_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_home {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.area_texts_home {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 590px;
}

.title_home h1 {
    color: #ffffff;
    font-size: var(--font-title);
    font-weight: var(--font-600);
    line-height: 100%;
}

.sub_title_home p {
    color: #ffffff;
    font-size: var(--font-sub-title);
    font-weight: var(--font-400);
    line-height: normal;
}

.btn_home {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 10px 40px;
    width: 100%;
    max-width: max-content;
    background-color: #ffffff;
    box-shadow: 0px 13.21117px 26.42234px 0px rgba(0, 0, 0, 0.2);
    transition: all ease 200ms;
}

.btn_home h2 {
    color: #007E7D;
    font-size: var(--font-sub-title);
    font-weight: var(--font-600);
    line-height: normal;
}

.btn_home:hover {
    background-color: #007E7D;
}

.btn_home:hover>h2 {
    color: #ffffff;
}

.pdv {
    border-radius: 6px;
    /*box-shadow: 7px 24px 35px 0px rgba(0, 83, 136, 0.81);*/
    max-width: 600px;
    width: 100%;
    height: auto;
}

.swiper_2 {
    width: 100%;
    height: 100%;
    padding: 20px 12px !important;
    z-index: 0 !important;
    max-width: 650px;
    margin-right: initial !important;
}

.swiper_2 .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: #F4F7FF !important;
}

.swiper-wrapper {
    padding: 0px 0px 20px 0px;
}


/*Container solucoes*/
#solucoes {
    padding: 40px 0px 40px 0px;
}

.container_solucoes {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_solucoes_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.area_solucoes {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_texts_solucoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 438px;
}

.title_solucoes h1 {
    color: #ffffff;
    font-size: var(--font-title);
    font-weight: var(--font-600);
    line-height: 100%;
}

.sub_title_solucoes p {
    color: #ffffff;
    font-size: var(--font-sub-title);
    font-weight: var(--font-400);
    line-height: 100%;
}

.area_segmentos {
    width: 100%;
    max-width: 170px;
    height: 188px;
    border-radius: 30px;
    background: #ffffff;
    transition: all ease-in 100ms;
}

.area_segmentos:hover {
    background: #ffffff;
    filter: drop-shadow(-8px 8px 10px rgba(0, 0, 0, 0.2));
}

.area_segmentos .area_segmentos_int svg path {
    fill: #007E7D;
}

/*
.area_segmentos:hover>.area_segmentos_int svg path {
    fill: #4885ED;
}

.area_segmentos:hover>.area_segmentos_int .title_segmentos h2 {
    color: #4885ED;
}*/

.area_segmentos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 40px;
}

.title_segmentos h2 {
    color: #007E7D;
    font-size: 24px;
    font-weight: var(--font-600);
    line-height: normal;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 20px 12px !important;
    z-index: 0 !important;
    max-width: 650px;
    margin-right: initial !important;
}

.swiper .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: #F4F7FF !important;
}

.swiper-pagination-bullet {
    background-color: #ffffff !important;
}

/*Container gestão*/

.container_gestao {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 60px 0px;
}

.container_gestao_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_gestao {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.gestoes {
    max-width: 1100px;
    width: 100%;
    border-radius: 80px;
    background: #FFF;
    box-shadow: 10px 7px 57.7px -3px rgba(6, 43, 137, 0.08);
    padding: 30px 0px;
}

.gestoes_int {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title_gestoes h2 {
    color: #2C2C2C;
    text-align: center;
    font-size: 26px;
    font-weight: var(--font-600);
    line-height: normal;
}

.area_texts_gestao {
    width: 100%;
    max-width: 1100px;
}

.area_texts_gestao p {
    color: #2C2C2C;
    text-align: center;
    font-size: var(--font-sub-title);
    font-weight: var(--font-400);
    line-height: 100%;
}

.area_nfe_icones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.opcoes_nfe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
}

.icones_nfe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 200px;
    fill: rgba(202, 202, 202, 0.50);
    border: 10px solid rgba(202, 202, 202, 0.50);
    box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.06) inset;
    cursor: pointer;
    transition: all ease 200ms;
}

.icones_nfe:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.icones_nfe.active {
    transform: scale3d(1.1, 1.1, 1.1);
}

.icones_nfe img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.area_nfe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 40px;
    column-gap: 80px;
    width: 100%;
}

.nfe_info {
    max-width: 450px;
    width: 100%;
    max-height: 320px;
    object-fit: contain;
}

.area_texts_nfe {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 450px;
}

.title_nfe h2 {
    color: #2C2C2C;
    font-size: 30px;
    font-weight: var(--font-600);
    line-height: normal;
}

.area_infos_nfe {
    width: 100%;
}

.area_infos_nfe ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

.area_infos_nfe ul li {
    color: #2C2C2C;
    font-size: 26px;
    font-weight: var(--font-400);
    line-height: normal;
}

/*Container servicos*/

.container_servicos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_servicos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    max-width: 1280px;
    width: 100%;
}

.area_servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}

.title_servicos h2 {
    color: #2C2C2C;
    font-family: League Spartan;
    font-size: var(--font-title);
    font-weight: var(--font-600);
    line-height: normal;
}

.card_servicos {
    /*background: linear-gradient(90deg, #003F5B 22.79%, #186188 117.67%, #2574A0 169.33%);
    filter: drop-shadow(-9px 9px 17px  rgba(0, 0, 0, 0.06));*/
    border-radius: 10px;
    background: #FFF;
    box-shadow: 10px 7px 57.7px -3px rgba(6, 43, 137, 0.08);
    height: 110px;
    max-width: 350px;
    width: 100%;
    padding: 0px 20px;
}

.card_servicos_int {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
    gap: 20px;
    width: 100%;
}

.area_texts_servicos {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 10px;
}

/*.card_servicos_int svg {
    fill: #4885ED;
}*/

.title_card_servicos h2 {
    color: #2C2C2C;
    font-size: 20px;
    font-weight: var(--font-600);
}

.sub_title_card_servicos p {
    color: #2C2C2C;
    font-size: 16px;
    font-weight: var(--font-400);
    line-height: 100%;
}

/*Container sistemas*/

.container_sistemas {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 60px 0px;
}

.imgs_sistemas {
    border-radius: 20px;
    max-width: max-content;
    width: 100%;
    height: auto;
}

.container_sistemas_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_sistemas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.title_sistemas h2 {
    color: #2C2C2C;
    font-family: League Spartan;
    font-size: var(--font-title);
    font-weight: var(--font-600);
    line-height: normal;
}

.area_opcoes_sistemas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.area_sistemas_autorizadaBr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.box {
    background: #ccc;
    max-width: 500px;
    width: 100%;
    height: 320px;
}

.area_texts_sistemas_autorizadaBr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 560px;
}

.title_sistemas_autorizadaBr h2 {
    color: #2C2C2C;
    font-size: 30px;
    font-weight: var(--font-600);
    letter-spacing: 1.04px;
}

.info_sistemas_autorizadaBr p {
    color: #2C2C2C;
    font-size: 20px;
    font-weight: var(--font-400);
    line-height: 110%;
}

.sistemas_autorizadaBr {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.sistemas_autorizadaBr_int {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.area_logo_sistema {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    filter: drop-shadow(-9px 9px 17px rgba(7, 114, 148, 0.02));
    max-width: max-content;
    width: 100%;
    padding: 40px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 200ms;
    transform: scale3d(1, 1, 1);
}

.degust_chef {
    background-color: #007E7D;
}

.mobile_pay {
    background-color: #007E7D;
}

.gestao {
    background-color: #007E7D;
}

.gestao_online {
    background-color: #007E7D;
}

.venda_rapida {
    background-color: #007E7D;
}

.area_logo_sistema.active {
    transform: scale3d(1.1, 1.1, 1.1);
}

.area_logo_sistema:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.size_logo_sistemas {
    max-width: 140px;
    width: 100%;
    height: auto;
}

.size_logo_sistemas.gestao {
    max-width: 120px;
    width: 100%;
    height: auto;
}

.logo_padrao_sistemas {
    width: 100%;
    max-width: 40px;
    height: auto;
}


.info_sistemas_autorizadaBr {
    max-width: 700px;
    width: 100%;
}

/*Video*/
.container_video {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 60px 0px;
}

.container_video_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;

}

.title_video h2 {
    color: #2C2C2C;
    font-family: League Spartan;
    font-size: var(--font-title);
    font-weight: var(--font-600);
    line-height: normal;
    text-align: center;
}

.area_player {
    width: 100%;
    max-width: 700px;
}

video {
    border-radius: 20px;
}

.thumb_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-position: center;
    cursor: pointer;
    z-index: 1;

}

.thumb_2 {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-position: center;
    cursor: pointer;
    z-index: 1;

}
/*
.hidden_controls {
    display: flex;
    width: 100% !important;
    height: 18% !important;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    backdrop-filter: blur(10px) contrast(100%);
    -webkit-backdrop-filter: blur(10px) contrast(100%);
}*/

.up_container {
    position: relative;
    padding-bottom: 54%;
    max-height: 90vh;
}

.up_container .player-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.up_container .player-wrapper video,
.up_container .player-wrapper iframe,
.up_container .player-wrapper>div {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*
.up_container.glass {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-position: center;
}*/


/*Container planos*/

.container_planos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 60px 0px;
}

.container_planos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1280px;
}

.area_planos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.title_planos h2 {
    color: #2C2C2C;
    font-family: League Spartan;
    font-size: var(--font-title);
    font-weight: var(--font-600);
    line-height: normal;
}


.card_gestao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 56px;
    background: #007E7D;
    box-shadow: -28px 7px 35px -8px rgba(0, 0, 0, 0.25), -100px 30px 40px -103px rgba(0, 0, 0, 0.25);
    height: calc(100% - 40px);
    max-width: 340px;
    width: 100%;
    padding: 40px 10px 0px 10px;
    gap: 40px;
}

.area_titulo_gestao {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 10px;
}

.title_card h2 {
    color: #F4F7FF;
    text-align: center;
    font-size: 26px;
    font-weight: var(--font-600);
    letter-spacing: 1.04px;
    text-transform: capitalize;
}

.sub_title_card p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-400);
    line-height: 124%;
    letter-spacing: 0.72px;
    text-transform: none;
}

.incluso {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    justify-content: flex-start;
    border-radius: 30px;
    background: linear-gradient(184deg, rgba(255, 255, 255, 0.15) 10.07%, rgba(255, 255, 255, 0.00) 97.08%);
    backdrop-filter: blur(2px);
    padding: 40px 0px 40px 10px;
    height: auto;
}

.area_texts_incluso {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    gap: 20px;
}

.incluso_int {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.title_incluso h2,
.title_incluso_2 h2,
.title_incluso_3 h2 {
    color: #FFF;
    font-size: 18px;
    font-weight: var(--font-400);
    line-height: 124%;
    letter-spacing: 0.72px;
    text-transform: none;
}

.btn_incluso:hover>h2 {
    color: #307BA5;
}

.btn_incluso:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

.btn_incluso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background: #FFFFFF;
    border-radius: 200px;
    width: 100%;
    max-width: max-content;
    transition: all ease 300ms;

}

.btn_incluso h2 {
    color: #307BA5;
    text-align: center;
    font-size: 20px;
    font-weight: var(--font-600);
    line-height: 124%;
    /* 24.8px */
    letter-spacing: 0.8px;
}

/*parceiro*/
.container_parceiro {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 60px 0px;
}

.container_parceiro_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_parceiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    width: 100%;
    padding: 0px 20px;
}


.title_parceiro h2 {
    color: #2C2C2C;
    font-family: League Spartan;
    font-size: var(--font-title);
    font-weight: var(--font-600);
    line-height: normal;
}

.sub_title_parceiro p {
    color: #2C2C2C;
    text-align: center;
    font-size: 22px;
    font-weight: var(--font-400);
    line-height: 100%;
}

#svg-map path {
    fill: #007E7D;
}

#svg-map path:hover {
    fill: #007E7D;
}

#svg-map .circle {
    fill: #007E7D;
}

#svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif;
    cursor: pointer;
}

/*Container parceiro*/
/*#container_parceiro {
    background-image: url(../img/footer.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;
}

.container_parceiro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.area_parceiro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.title_parceiro h2 {
    color: #F4F7FF;
    font-family: League Spartan;
    font-size: var(--font-title);
    font-weight: var(--font-600);
    line-height: normal;
}*/

/*Footer*/
footer {
    width: 100%;
    background: #007E7D;
    box-shadow: 0px -25px 42px 0px rgba(0, 0, 0, 0.20) inset;
    padding: 40px 0px 40px 0px;
}

.container_footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_col {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: max-content;
    gap: 20px;
}

.logo_footer {
    max-width: 296px;
    width: 100%;
    object-fit: contain;
}

.logo_agnus {
    max-width: 151px;
    width: 100%;
    object-fit: contain;
}


.title_contato h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 124%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0px;
}

.area_solucoes_total {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 60px;
}

.area_solucoes_footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title_solucoes h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 124%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0px;
}

.info_solucoes p {
    font-weight: 600;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0px;
}

.whats {
    display: flex;
    align-items: center;
    gap: 10px;
}

.whats p {
    font-weight: 600;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0px;
}

.email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email p {
    font-weight: 600;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0px;
}

.redes_sociais {
    display: flex;
    align-items: center;
    gap: 35px;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #007E7D;
    padding: 20px 0px;
}

.copy p {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: var(--font-letter);
    color: #FFFFFF;
    margin: 0px;
    padding: 0px 20px;
    text-align: center;
}

.copy p a {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: var(--font-letter);
    color: #FFFFFF;
}

@media(max-width: 1024px) {

    :root {
        --font-title: 36px;
        --font-sub-title: 18px;
    }

    .area_menu {
        padding: 20px 20px 0px 20px;
    }

    .menu_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        padding: 20px 20px 0px 20px;
    }

    .menu_mobile a img {
        width: 100%;
        max-width: max-content;
        height: auto;
    }

    @keyframes move {
        0% {
            left: -100%;

        }

        100% {
            left: 0px;
        }

    }

    .menu_open {
        display: flex;
    }

    .close {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #container_menu {
        display: none;
        width: 100%;
        height: 100vh;
        opacity: 0.9;
        background: #007E7D;
        position: fixed;
        top: 0px;
        z-index: 99;
        transition: all ease 400ms;
    }

    .container_menu {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .container_menu_int {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .area_menu {
        flex-direction: column;
        width: 100%;
    }

    .area_close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 40px;
    }

    .area_close_int {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1220px;
    }

    .close {
        cursor: pointer;
        max-width: max-content;
        width: 100%;
    }

    .close:hover>rect {
        fill: #FAB013;
    }

    .area_menu nav {
        width: 100%;
    }

    .area_menu nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .logo_desktop {
        display: none;
    }

    nav ul li a {
        font-size: 30px;
        color: #FFFFFF;
    }

    .area_menu nav ul a li {
        color: var(--primary-white);
        font-family: 'Montserrat-Thin';
        font-size: 42px;
        font-weight: 100;
        line-height: normal;
        text-transform: uppercase;
        list-style: none;
    }

    .area_menu nav ul a li:hover {
        background: var(--degrade);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /*Home*/
    .area_home {
        justify-content: center;
        gap: 40px;
        margin-top: 40px;
    }

    .area_texts_home {
        text-align: center;
        align-items: center;
        max-width: 650px;
        gap: 20px;
    }

    .slide_1.swiper {
        margin-right: auto !important;
        padding: 0px 0px 20px 0px !important;
    }

    .slide_2.swiper {
        padding: 0px 0px 20px 0px !important;
        margin-right: auto !important;
    }

    /*Container solucoes*/
    .area_solucoes {
        flex-direction: column;
        gap: 40px;
    }

    .area_texts_solucoes {
        text-align: center;
        max-width: 650px;
        gap: 20px;
    }

    .container_sistemas {
        padding: 40px 0px 40px 0px;
    }

    .area_sistemas {
        padding: 0px 20px;
    }

    .area_sistemas_autorizadaBr {
        flex-direction: column;

    }

    .area_texts_sistemas_autorizadaBr {
        max-width: 500px;
    }

    .container_parceiro {
        padding: 40px 0px 40px 0px;
    }

    .container_gestao {
        padding: 0px 0px 40px 0px;
    }

    /*Container gestao*/
    .area_gestao {
        gap: 40px;
        padding: 0px 20px;
    }

    .container_planos {
        padding: 0px 0px 40px 0px;
    }

    .area_planos {
        flex-direction: column;
    }

    .card_gestao {
        height: auto;
    }

    .title_gestoes h2 {
        font-size: 24px;
    }

    .opcoes_nfe {
        row-gap: 20px;
        column-gap: 40px;
    }

    .title_nfe h2 {
        font-size: 26px;
    }

    .area_infos_nfe ul li {
        font-size: 22px;
    }


    /*Container sistemas*/
    .title_sistemas h2 {
        text-align: center;
    }

    .sistemas_autorizadaBr_int {
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .sistemas_autorizadaBr {
        gap: 40px;
    }

    /*#container_parceiro {
        height: 400px;
    }*/

    footer {
        padding: 40px 0px 40px 0px;
    }

    .area_footer {
        flex-direction: column;
        align-items: center;
        gap: 40px;

    }

    .footer_col {
        text-align: center;
        align-items: center;
    }

    .area_solucoes_footer {
        align-items: center;
    }

}


@media(max-width: 480px) {
    :root {
        --font-title: 32px;
        --font-sub-title: 18px;
    }

    /*Container home*/
    #home {
        padding: 40px 0px 0px 0px;
    }

    .slide_1.swiper {
        padding: 0px 20px 10px 20px !important;
    }

    .area_texts_home {
        padding: 0px 20px;
    }

    .area_solucoes {
        flex-direction: column;
        gap: 20px;
    }

    #solucoes {
        padding: 20px 0px 40px 0px;
    }

    .slide_2.swiper {
        padding: 0px 0px 10px 0px !important;
        max-width: 240px;
    }

    .area_texts_solucoes {
        padding: 0px 20px;
        width: auto;
    }

    .container_servicos {
        padding: 40px 0px 40px 0px;
    }

    .area_servicos {
        gap: 20px;
    }

    .card_servicos {
        margin: 0px 20px;
    }

    /*Container gestao*/
    .gestoes_int {
        padding: 0px 20px;
        flex-direction: column;
    }

    .gestoes_int svg {
        display: none;
    }

    .icones_nfe {
        width: 120px;
        height: 120px;
    }

    .icones_nfe img {
        max-width: 90px;
        width: 100%;
    }

    .area_gestao {
        padding: 0px 30px;
        gap: 30px;
    }

    .area_nfe {
        gap: 0px;
    }

    .area_texts_nfe {
        gap: 20px;
        padding: 0px 20px;
    }

    /*Container sistemas*/
    .container_sistemas {
        padding: 0px 0px 40px 0px;
    }

    .sistemas_autorizadaBr_int {
        gap: 30px;
    }

    .area_sistemas {
        gap: 40px;
    }

    .area_opcoes_sistemas {
        gap: 20px;
    }

    .area_logo_sistema {
        max-width: 120px;
        width: 100%;
        padding: 20px 20px;
        border-radius: 20px;
    }

    .title_card_servicos h2 {
        font-size: 22px;
    }

    .area_video {
        gap: 20px;
        padding: 0px 20px;
    }

    .title_video h2 {
        padding: 0px 20px;
    }

    .hidden_controls {
        height: 30% !important;
    }

    /*Container planos*/
    .container_planos_int {
        gap: 20px;
    }

    .area_titulo_gestao {
        gap: 20px;
    }

    .card_gestao {
        padding: 25px 10px 25px 10px;
    }

    /*#container_parceiro {
        height: 300px;
    }*/

    .container_parceiro {
        padding: 0px 0px 40px 0px;
    }

    .area_parceiro {
        gap: 20px;
    }

    .area_parceiro svg {
        height: 350px;
    }

    .sub_title_parceiro p {
        font-size: 20px;
    }

    .area_whatsapp img {
        width: 100%;
        max-width: 60px;
        height: 60px;
    }

    .area_whatsapp a {
        height: 60px;
    }
}